.zagolovok{
    text-align: center;
    margin: 1em 0 .4em 0;
    color:aqua;
   }
.form { 
    
        display: flex;
        height: 100px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        .btn{
            margin-inline: 3px;
        }
}