header.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    .sing{
      height: 30px;
      width: 95px;
      margin-right: 100px;
    }
  .navigation{
        width: 100%;
      .block{ 
           display: flex;
           list-style: none;
           font-size: x-large;
           margin: 0;
           padding-block: .4em;
           gap: 2em;
           .page{
            border: 3px solid gray;
            user-select: none;
       
          }
          .page:active{
            background-color:cadetblue;
          }
          
          }
    
    }
  }
  
    .block a{
      padding: .2em;
      color: white;
      text-decoration: none;
    }