.navigation{
    .block{ 
         display: flex;
         justify-content: space-around;
         list-style: none;
         font-size: x-large;
         margin: 0;
         padding-block: .4em;
         background-color: black;
         .page{
          border: 3px solid gray;
          user-select: none;
     
        }
        .page:active{
          background-color:cadetblue;
        }
        
        }
  
  }
  .block a{
    padding: .2em;
    color: white;
    text-decoration: none;
  }